@charset "UTF-8";
#container {
	height:1405px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;	
}


@font-face {
	font-family: "Cabin-Regular copy"; src:url(../fonts/Cabin-Regular%20copy.otf);
}


html{
	margin:auto;
	width:1020px;
}

body {
	font-family:Cabin-Regular copy;
	vertical-align:middle;
	margin:0px auto;	
}



div{
	font-family: Cabin-Regular copy;
	margin: 0px auto;
}


#homeimage {
	position: absolute;
	margin-top: 0px;
	margin-left:0px;
	height: 360px;
	width: 100%;
}

#slideshow{
	float: left;
	position: fixed;
	padding: 0;
}

#background {
	width:1020px;
	height:95px;
	margin-top:360px;
	position:absolute;
	background-color: #bfbcb4;
	
}

#logo {
	margin-left:30px;
	margin-top:5px;
	position: absolute;
}

ul#nav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
    -o-transition: color 1s ease;
	color: #836E65;
}

ul#nav {
  margin-left: 410px;
  margin-top: 40px;
  list-style:none;
  width: 395px;
  position:absolute;
  font-size:.75em;
}

ul#nav li {
  display:inline;
  margin-left: 20px;
}

ul#nav a:hover{
	color:#362D2B;
}

#donate2 {	
	position: relative;
	height:81px;
	width:100px;
	margin-left: 886px;
	margin-top:0px;

}
#donate2 img {
	position:absolute;
	left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#donate2 img.top:hover {
  opacity:0;
}


#browntexture {
	background-color: #362D2B;
	/* [disabled]background-repeat: no-repeat; */
	height: 200px;
	width: 1020px;
	margin-top: 455px;
	position: absolute;
}


#hours {
	position: relative;
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:30px;
}
#hours img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#hours img.top:hover{
	opacity: 0;
}

#directions {
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:160px;
	position:absolute;
}

#ourstaff {
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:290px;
	position:absolute;
}

#ourmission {
	height:20px;
	width:140px;
	margin-top:10px;
	margin-left:470px;
	position:absolute;
	color:#EF4C30;
	font-size:1em;
}

#mission {
	height: auto;
	width:520px;
	margin-top:45px;
	margin-left:470px;
	position:absolute;
	color:#C6C2B7;
	font-size:1em;
}


#background2 {
	height:750px;
	width:750px;
	margin-top:655px;
	position:absolute;
	background-color:#ECECE9;
	color:#836E65;
}
#background2 h2{
	text-align:center;
}


#background2 p{
	text-align:center;
	font-size:.42em;
}

#googlebackground{
	height:350px;
	width:750px;
	margin-top:10px;
	position:absolute;
	background-color:#B4B2AB;
}

#background2 a {
	text-decoration:none;
	color:#EF4C30;
	font-size:.85em;
	text-align:center;
}
#background2 p{
	margin-left:30px;
	margin-right:30px;
}

	

#backgroundside {
	background-color: #bfbcb4;
	height: 725px;
	width: 219px;
	margin-top: 655px;
	margin-left: 750px;
	position: absolute;
	padding-left:51px;
	padding-top:25px;
}


#footer {
	position: absolute;
	margin-top: 1305px;
	height: 100px;
	width:1020px;
	background-color:#B4B2AB;
}

ul#footernav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
    -o-transition: color 1s ease;
	color: #836E65;
	font-size:.75em;
}

ul#footernav {
  margin-left: -53px;
  margin-top: 15px;
  list-style:none;
  width: 425px;
  position:absolute;
}

ul#footernav li {
  display:inline;
  margin-left: 45px;
}	

ul#footernav a:hover{
	color:#362D2B;
}

#signup {
	 height:20px;
	 width:212px;
	 margin-top:59px;
	 margin-left:30px;
	 position:absolute;
	 color: #836E65;
	 font-size: .85em;
 }
 
 #email {
	 height:26px;
	 width:232px;
	 margin-top:55px;
	 margin-left:237px;
	 position:absolute;
 }
 #signupbtn {
	 height:26px;
	 width:101px;
	 margin-top:55px;
	 margin-left:490px;
	 position:absolute;
 }
 #socialmedia {
	 height:46px;
	 width:230px;
	 margin-top:27px;
	 margin-left:755px;
	 position:absolute;
 }
	
#socialmedia a	 {
	margin-left:6px;
}
 

