@charset "UTF-8";
#container {
	height:1255px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;	
}


@font-face {
	font-family: "Cabin-Regular copy"; src:url(../fonts/Cabin-Regular%20copy.otf);
}


html{
	margin:auto;
	width:1020px;
}

body {
	font-family:Cabin-Regular copy;
	vertical-align:middle;
	margin:0px auto;	
}

div{
	font-family: Cabin-Regular copy;
	margin: 0px auto;
}


#homeimage {
	position: absolute;
	margin-top: 0px;
	margin-left:0px;
	height: 360px;
	width: 100%;
}

#slideshow{
	float: left;
	position: absolute;
	padding: 0;
}

#background {
	width:1020px;
	height:95px;
	margin-top:360px;
	position:absolute;
	background-color: #bfbcb4;
	
}

#logo {
	margin-left:30px;
	margin-top:5px;
	position: absolute;
}

ul#nav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
    -o-transition: color 1s ease;
	color: #836E65;
}

ul#nav {
  margin-left: 410px;
  margin-top: 40px;
  list-style:none;
  width: 395px;
  position:absolute;
  font-size:.75em;
}

ul#nav li {
  display:inline;
  margin-left: 20px;
}

ul#nav a:hover{
	color:#362D2B;
}

#donate2 {	
	position: relative;
	height:81px;
	width:100px;
	margin-left: 886px;
	margin-top:0px;

}
#donate2 img {
	position:absolute;
	left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#donate2 img.top:hover {
  opacity:0;
}

#browntexture {
	background-color: #362D2B;
	/* [disabled]background-repeat: no-repeat; */
	height: 200px;
	width: 1020px;
	margin-top: 455px;
	position: absolute;
}

#events {
	position: relative;
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:30px;
}
#events img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#events img.top:hover{
	opacity: 0;
}


#toddler {
	height:115px;
	width:115px;
	margin-top:-115px;
	margin-left:160px;
	position:relative;
}

#toddler img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#toddler img.top:hover{
	opacity: 0;
}


#trips {
	height:115px;
	width:115px;
	margin-top:-115px;
	margin-left:290px;
	position:relative;
}
#trips img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#trips img.top:hover{
	opacity: 0;
}

#camp{
	height:115px;
	width:115px;
	margin-top:-115px;
	margin-left:420px;
	position:relative;
}
#camp img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#camp img.top:hover{
	opacity: 0;
}



#register {
	background-color:#EF4C30;
	height: 58px;
	width: 230px;
	top: 65px;
	margin-left: 640px;
	position: absolute;
	font-size: 1.625em;
	padding-top: 12px;
	padding-left: 40px;
}

#register a{
 	 text-decoration: none;
 	 color:#ECECE9;
 }

 #register a:hover{
	color: #C6C2B7;
 }



#background2 p {
	text-align:left;
	color:#836E65;
	font-size: .85em;
	margin-left:30px;
	margin-right:30px;	
}

h2 {
	color: ECECE9;
	margin-left: 30px;
	margin-right: 30px;
}

h1{
	margin-left:30px;
	color:#836E65;
}
#options {
	height:330px;
	width:555px;
	margin-left:235px;	
	margin-right:235px;
	margin-top:0px;
	position:absolute;

}


#options p {
	margin-top:20px;
	margin-bottom:10px;
}
#owl {
	height:330px;
	width:1020px;
	margin-left:0px;
	margin-top:825px;
	position:absolute;

}


#background2 {
	height:510px;
	width:1020px;
	margin-top:650px;
	position:absolute;
	background-color:#ECECE9;
}
		


#footer {
	position: absolute;
	margin-top: 1155px;
	height: 100px;
	width:1020px;
	background-color:#B4B2AB;
}

ul#footernav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
    -o-transition: color 1s ease;
	color: #836E65;
	font-size:.75em;
}

ul#footernav {
  margin-left: -53px;
  margin-top: 15px;
  list-style:none;
  width: 425px;
  position:absolute;
}

ul#footernav li {
  display:inline;
  margin-left: 45px;
}	

ul#footernav a:hover{
	color:#362D2B;
}

#signup {
	 height:20px;
	 width:340px;
	 top:56px;
	 left:24px;
	 position:absolute;
	 color: #836E65;
	 font-size: .85em;
	 padding-left: 6px;
	 padding-top: 3px;
	 padding-bottom: 3px;
 }
 

input {
	 height:21px;
	 width:140px;
	 margin-top:55px;
	 left:237px;
	 position:absolute;
 }


 #signupbtn {
	 height:22px;
	 width:60px;
	 top:56px;
	 left:390px;
	 position:absolute;
	 background-color: #836E65;
	 font-size: .75em;
	 padding-left: 11px;
	 padding-top: 4px;
 }

 #signupbtn a{
 	 text-decoration: none;
 	 color:#ECECE9;
 }

 #signupbtn a:hover{
	color: #C6C2B7;
 }


#socialmedia {
	 height:46px;
	 width:230px;
	 margin-top:27px;
	 margin-left:755px;
	 position:absolute;
 }

#google {
	position:relative;
}
#google img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#google img.top:hover{
	opacity: 0;
}

#facebook {
	left: 55px;
	position:relative;
}
#facebook img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#facebook img.top:hover{
	opacity: 0;
}

#twitter {
	left: 110px;
	position:relative;
}
#twitter img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#twitter img.top:hover{
	opacity: 0;
}

#youtube {
	left:165px;
	position:relative;
}
#youtube img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#youtube img.top:hover{
	opacity: 0;
}
