@charset "UTF-8";
#container {
	height:1405px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;	
}


@font-face {
	font-family: "Cabin-Regular copy"; src:url(../fonts/Cabin-Regular%20copy.otf);
}


html{
	margin:auto;
	width:1020px;
}

body {
	font-family:Cabin-Regular copy;
	vertical-align:middle;
	margin:0px auto;	
}

div{
	font-family: Cabin-Regular copy;
	margin: 0px auto;
}


#homeimage {
	position: absolute;
	margin-top: 0px;
	margin-left:0px;
	height: 360px;
	width: 100%;
}

#slideshow{
	float: left;
	position: fixed;
	padding: 0;
}

#background {
	width:1020px;
	height:95px;
	margin-top:360px;
	position:absolute;
	background-color: #bfbcb4;
	
}

#logo {
	margin-left:30px;
	margin-top:5px;
	position: absolute;
}

ul#nav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
    -o-transition: color 1s ease;
	color: #836E65;
}

ul#nav {
  margin-left: 410px;
  margin-top: 40px;
  list-style:none;
  width: 395px;
  position:absolute;
  font-size:.75em;
}

ul#nav li {
  display:inline;
  margin-left: 20px;
}

ul#nav a:hover{
	color:#362D2B;
}

#donate2 {	
	position: relative;
	height:81px;
	width:100px;
	margin-left: 886px;
	margin-top:0px;

}
#donate2 img {
	position:absolute;
	left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#donate2 img.top:hover {
  opacity:0;
}


#browntexture {
	background-color: #362D2B;
	/* [disabled]background-repeat: no-repeat; */
	height: 200px;
	width: 1020px;
	margin-top: 455px;
	position: absolute;
}


#hours {
	position: relative;
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:30px;
}
#hours img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#hours img.top:hover{
	opacity: 0;
}


#directions {
	height:115px;
	width:115px;
	margin-top:-115px;
	margin-left:160px;
	position:relative;
}

#directions img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#directions img.top:hover{
	opacity: 0;
}


#ourstaff {
	height:115px;
	width:115px;
	margin-top:-115px;
	margin-left:290px;
	position:relative;
}
#ourstaff img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#ourstaff img.top:hover{
	opacity: 0;
}
#ourmission {
	height:20px;
	width:140px;
	margin-top:-147px;
	margin-left:470px;
	position:absolute;
	color:#EF4C30;
	font-size:1em;
}

#mission {
	height: auto;
	width:520px;
	margin-top:-112px;
	margin-left:470px;
	position:absolute;
	color:#C6C2B7;
	font-size:1em;
}


#background2 {
	height:750px;
	width:750px;
	margin-top:655px;
	position:absolute;
	background-color:#ECECE9;
	text-align:center;
	color:#836E65;
	font-size: .75em;
}

#toll{
	width:600px;
	height:200px;
	margin-top:180px;
	margin-left:75px;
	position:absolute;
}

#table1{
	width:350px;
	margin-top:10px;
	margin-left:20px;
	position:absolute;
	color:#836E65;
	
}

#table2{
	width:350px;
	margin-top:10px;
	margin-left:380px;
	position:absolute;
	color:#836E65;
}


	

#backgroundside {
	background-color: #bfbcb4;
	height: 725px;
	width: 219px;
	margin-top: 655px;
	margin-left: 750px;
	position: absolute;
	padding-left:51px;
	padding-top:25px;
}

#toddler {
	position:relative;
}
#toddler img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#toddler img.top:hover{
	opacity: 0;
}

#hike {
	margin-top: 205px;
	position:relative;
}
#hike img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#hike img.top:hover{
	opacity: 0;
}

#trip {
	margin-top: 410px;
	position:relative;
}
#trip img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#trip img.top:hover{
	opacity: 0;
}


#footer {
	position: absolute;
	margin-top: 1305px;
	height: 100px;
	width:1020px;
	background-color:#B4B2AB;
}

ul#footernav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
    -o-transition: color 1s ease;
	color: #836E65;
	font-size:.75em;
}

ul#footernav {
  margin-left: -53px;
  margin-top: 15px;
  list-style:none;
  width: 425px;
  position:absolute;
}

ul#footernav li {
  display:inline;
  margin-left: 45px;
}	

ul#footernav a:hover{
	color:#362D2B;
}


#signup {
	 height:20px;
	 width:212px;
	 margin-top:59px;
	 margin-left:30px;
	 position:absolute;
	 color: #836E65;
	 font-size: .85em;

 }
 
 #email {
	 height:26px;
	 width:232px;
	 margin-top:55px;
	 margin-left:237px;
	 position:absolute;
 }
#signupbtn {
	 height:23px;
	 width:70px;
	 top:55px;
	 left:480px;
	 position:absolute;
	 color: #C6C2B7;
	 background-color: #836E65;
	 font-size: .85em;
	 padding-left: 11px;
	 padding-top: 2px;

 }

 #signupbtn a{
 	 text-decoration: none;
 	 color: #C6C2B7;
 }

 #signupbtn a:hover{
	color: #B4B2AB;
 }

 #socialmedia {
	 height:46px;
	 width:230px;
	 margin-top:27px;
	 margin-left:755px;
	 position:absolute;
 }

#google {
	position:relative;
}
#google img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#google img.top:hover{
	opacity: 0;
}

#facebook {
	left: 55px;
	position:relative;
}
#facebook img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#facebook img.top:hover{
	opacity: 0;
}

#twitter {
	left: 110px;
	position:relative;
}
#twitter img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#twitter img.top:hover{
	opacity: 0;
}

#youtube {
	left:165px;
	position:relative;
}
#youtube img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#youtube img.top:hover{
	opacity: 0;
}
