@charset "UTF-8";
#container {
	height:1255px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;	
}


@font-face {
	font-family: "Cabin-Regular copy"; src:url(../fonts/Cabin-Regular%20copy.otf);
}


html{
	margin:auto;
	width:1020px;
}

body {
	font-family:Cabin-Regular copy;
	vertical-align:middle;
	margin:0px auto;	
}

div{
	font-family: Cabin-Regular copy;
	margin: 0px auto;
}


#homeimage {
	position: absolute;
	margin-top: 0px;
	margin-left:0px;
	height: 360px;
	width: 100%;
}

#slideshow{
	float: left;
	position: fixed;
	padding: 0;
}

#background {
	width:1020px;
	height:95px;
	margin-top:360px;
	position:absolute;
	background-color: #bfbcb4;
	
}

#logo {
	margin-left:30px;
	margin-top:5px;
	position: absolute;
}

ul#nav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	color: #836E65;
}

ul#nav {
  margin-left: 410px;
  margin-top: 40px;
  list-style:none;
  width: 395px;
  position:absolute;
  font-size:.75em;
}

ul#nav li {
  display:inline;
  margin-left: 20px;
}
ul#nav a:hover{
	color:#362D2B;
}

#donate2 {
	height:81px;
	width:100px;
	margin-left: 886px;
	margin-top:0px;
	position: absolute;
}

#browntexture {
	background-color: #362D2B;
	/* [disabled]background-repeat: no-repeat; */
	height: 200px;
	width: 1020px;
	margin-top: 455px;
	position: absolute;
}


#events {
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:30px;
	position: absolute;
}

#toddler {
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:160px;
	position:absolute;
}

#trips {
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:290px;
	position:absolute;
}

#camp {
	height:115px;
	width:115px;
	margin-top:42px;
	margin-left:420px;
	position:absolute;
}

#register {
	height: 70px;
	width: 300px;
	margin-top: 65px;
	margin-left: 640px;
	position: absolute;
}




#options {
	height:330px;
	width:550px;
	margin-left:235px;	
	margin-right:235px;
	margin-top:-10px;
	position:absolute;

}
#options a {
	margin-bottom:0px;
	text-align:right;
	margin-left:440px;
	text-decoration:none;
	color:#836E65;
	background-color:#C6C2B7;
}

#options p {
	margin-top:20px;
	margin-bottom:10px;
}
#owl {
	height:330px;
	width:1020px;
	margin-left:0px;
	margin-top:825px;
	position:absolute;

}


#background2 {
	height:510px;
	width:1020px;
	margin-top:650px;
	position:absolute;
	background-color:#ECECE9;
	color:#836E65;
}
		
#background2 p {
	text-align:left;
	color:#836E65;
	font-size: .75em;
	margin-left:30px;
	margin-right:30px;	
}


h2 {
	color: ECECE9;
	margin-left: 30px;
	margin-right: 30px;
}
h1{
	margin-left:70px;

}
#table1{
	margin-left:30px;	
}

h4{
	margin-left:70px;
}

h5{
	margin-left:30px;
}

#toy{
	height:400px;
	width:400px;
	position:absolute;
	margin-top:50px;
	margin-left:640px;	
}
#footer {
	position: absolute;
	margin-top: 1155px;
	height: 100px;
	width:1020px;
	background-color:#B4B2AB;
}

ul#footernav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	color: #836E65;
	font-size:.75em;
}

ul#footernav {
  margin-left: -53px;
  margin-top: 15px;
  list-style:none;
  width: 425px;
  position:absolute;
}

ul#footernav li {
  display:inline;
  margin-left: 45px;
}	

ul#footernav a:hover{
	color:#362D2B;
}

#signup {
	 height:20px;
	 width:212px;
	 margin-top:59px;
	 margin-left:30px;
	 position:absolute;
	 color: #836E65;
	 font-size: .85em;
 }
 
 #email {
	 height:26px;
	 width:232px;
	 margin-top:55px;
	 margin-left:237px;
	 position:absolute;
 }
 #signupbtn {
	 height:26px;
	 width:101px;
	 margin-top:55px;
	 margin-left:490px;
	 position:absolute;
 }
 #socialmedia {
	 height:46px;
	 width:230px;
	 margin-top:27px;
	 margin-left:755px;
	 position:absolute;
 }
	
#socialmedia a	 {
	margin-left:6px;
}
 
